@import './mixins';
.accueil-page {
	@include flexCenter(column);
	display: grid;
	grid-template-columns: 3fr 2fr;
	justify-content: center;
	align-items: center;
	.info {
		max-width: 100%;
		margin-right: 50px;
		.text-margin {
			margin-top: 10px;
		}
	}
	.image-box {
		img {
			max-width: 100%;
		}
	}
	@media screen and (max-width: 760px) {
		margin-top: 10vh;
	}
	@media screen and (max-width: 750px) {
		grid-template-columns: 1fr;
		justify-content: center;
		.image-box {
			max-width: 60%;
			margin: auto;
			@media screen and(max-width: 400px) {
				max-width: 100%;
			}
		}
	}
}
