#app {
	font-family: 'RocknRoll One', Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	.arrow-box {
		position: fixed;
		bottom: 50px;
		right: 20px;
		z-index: 201;
		min-width: 50px;
	}
}
