@import '../../src/sass/variables';

$burguer-menu-width: 25px;
$burguer-menu-height: 3px;
.burguer {
	position: fixed;
	right: 5%;
	top: 4%;
	width: 50px;
	height: 50px;
	padding: 10px;
	z-index: 99999999999999;
	.burguer-icon {
		position: absolute;
		right: 0;
		top: 0.5rem;
		width: $burguer-menu-width;
		height: $burguer-menu-height;
		background: $link-color;
		transition: all 1s ease-in-out;
		&::before {
			content: '';
			position: absolute;
			top: -8px;
			width: $burguer-menu-width + 4px;
			height: $burguer-menu-height;
			background: $link-color;
			transition: all 1s ease-in-out;
		}
		&::after {
			content: '';
			position: absolute;
			top: 8px;
			width: $burguer-menu-width - 4px;
			height: $burguer-menu-height;
			background: $link-color;
			transition: all 1s ease-in-out;
		}
		&.burguer-open {
			transform: rotate(540deg);
			background: transparent;
			&::before {
				transform: rotate(42deg) translate(5px, 8px);
			}
			&::after {
				width: $burguer-menu-width + 4px;
				transform: rotate(-42deg) translate(3px, -6px);
			}
		}
	}
}

.burguer-menu {
	position: fixed;
	top: 0;
	right: 0;
	width: 100vw;
	opacity: 0.9;
	visibility: hidden;
	&.burguer-open {
		transition: all 0.01s;
		visibility: visible;
	}
}
.burguer-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background: $app-background;
	padding-right: 1rem;
	transform: translateY(-100%);
	transition: transform 0.5s ease-in-out;
	&.burguer-open {
		transform: translateY(0);
	}
	&__links {
		list-style-type: none;
		transform: translateX(100vw);
		padding: 8px 0;
		transition: transform 1.5s ease-in-out;
		&.burguer-open {
			transform: translateX(0);
		}
		a {
			color: $link-color;
			&.router-link-exact-active {
				color: orange;
				&::after {
					transform: scaleX(0);
				}
			}
		}
	}
}
@for $i from 1 to 8 {
	.burguer-content__links:nth-child(#{$i}) {
		transition-delay: ($i * 0.1s) + 0.15s;
	}
}

.burguer {
	@media screen and(min-width: 905px) {
		display: none;
	}
}
