.cookies {
	background-color: black;
	box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.603);
	position: fixed;
	max-width: 300px;
	bottom: 25px;
	left: 50%;
	margin-left: -45%;
	padding: 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border-radius: 20px;
	@media screen and (max-width: 700px) {
		max-width: 50%;
		max-height: 70vh;
		top: 50%;
		left: 50%;
		margin-top: -35vh;
		margin-left: -25%;
	}
	@media screen and (max-width: 600px) {
		max-width: 50%;
		min-height: 55vh;
		top: 50%;
		left: 50%;
		margin-top: -35.5vh;
		margin-left: -25%;
	}
	@media screen and (max-width: 560px) {
		max-width: 60%;
		min-height: 67vh;
		top: 50%;
		left: 50%;
		margin-top: -33.5vh;
		margin-left: -30%;
	}
	@media screen and (max-width: 480px) {
		padding: 20px;
		max-width: 70%;
		min-height: 65vh;
		top: 50%;
		left: 50%;
		margin-top: -32.5vh;
		margin-left: -35%;
	}
	@media screen and (max-width: 410px) {
		max-width: 80%;
		min-height: 75vh;
		top: 50%;
		left: 50%;
		margin-top: -32.5vh;
		margin-left: -40%;
	}
	@media screen and (max-width: 360px) {
		max-width: 90%;
		min-height: 85vh;
		top: 50%;
		left: 50%;
		margin-top: -42.5vh;
		margin-left: -45%;
	}
	@media screen and (max-width: 320px) {
		max-width: 90%;
		min-height: 90vh;
		top: 50%;
		left: 50%;
		margin-top: -45vh;
		margin-left: -45%;
	}

	.cookies-image {
		max-width: 70%;
		padding: 20px;
		@media screen and (max-width: 330px) {
			min-width: 150px;
			padding: 10px;
		}
	}
	p {
		font-size: 15px;
		text-align: left;
		margin-bottom: 20px;
	}
	font-size: 12px;
	z-index: 10000000000;
}
.buttons-box {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	@media screen and (max-width: 580px) {
		flex-direction: column;
	}
}
.button {
	color: #201f1fed;
	background-color: orange;
	border-radius: 8px;
	padding: 5px 15px;
	margin: 3px;
}
.close-icon {
	display: inline;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	margin: 20px;
}
