.credits-page {
	.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		padding: 20px;
		margin-top: 20px;
		border: 5px dashed #5083b619;
	}
	.margin-top {
		margin-top: 10px;
	}
	.photo-icon {
		max-height: 30px;
		margin-bottom: -10px;
	}
}
