@import '../../src/sass/variables';
@import '../../src/sass/transitions';
.optionals {
	margin-top: 20px;
	border: 5px dashed rgba(255, 166, 0, 0.164);
	padding: 0 30px;
	.optional-box {
		cursor: pointer;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		padding: 10px 0;
		.label {
			color: orange;
			min-width: 110px;
		}
		.chosen {
			width: 100%;
			text-align: center;
			opacity: 0.5;
		}
		@media screen and (max-width: 320px) {
			flex-direction: column;
		}
	}
	.selections {
		text-align: center;
		color: orange;
		padding: 30px 0;
		width: 100%;
		cursor: pointer;
		overflow: hidden;
		ul {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			justify-content: space-evenly;
			width: 100%;
			text-align: left;
			margin-left: 5%;
			li {
				transition: all 3s;
				list-style: none;
				display: inline-block;
				margin-left: 100px;
				&:before {
					content: '〄 '; /* use any character you fancy~! */
					position: absolute;
					margin-left: -20px;
					color: #3eb984;
					font-size: 13px;
					margin-top: 4px;
				}
			}
			@media screen and (max-width: 790px) {
				grid-template-columns: repeat(3, 1fr);
			}
			@media screen and (max-width: 640px) {
				grid-template-columns: repeat(2, 1fr);
				margin-left: 12%;
			}
			@media screen and (max-width: 470px) {
				grid-template-columns: 1fr;
				justify-content: center;
				text-align: center;
				margin-left: 0;
			}
		}
		.select {
			width: 100%;
			padding: 10px 0 0 20px;
			opacity: 0.7;
			margin: auto;
			&:hover {
				opacity: 1;
			}
		}
	}
	@media screen and(max-width: 700px) {
		padding: 10px;
	}
}
