@import '../../src/sass/variables';
@import '../../src/sass/mixins';
.formation-box {
	width: 100%;
	padding: 20px 0;
	margin: 45px auto 25px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: $border;
	min-height: 220px;
	.school-objectives {
		display: flex;
		justify-content: space-evenly;
		flex-direction: row;
		column-gap: 40px;
		width: 100%;
		padding: 0 20px;
		@media screen and(max-width: 600px) {
			flex-direction: column;
		}
	}
	.logo-box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding-left: 20px;
		display: inline-block;
		min-width: 30%;
		margin: auto auto;
		a {
			opacity: 1;
		}
		& img {
			max-width: 100%;
			max-height: 100px;
			object-fit: fill;
			-webkit-box-reflect: below 2px
				linear-gradient(transparent 80%, rgb(255, 255, 255) 200%);

			@media screen and (max-width: 900px) {
				widows: auto;
				height: 45px;
			}
		}
		a::after {
			content: none;
		}
	}
	.info-box {
		width: 100%;
		text-align: left;
		.year {
			opacity: 0.5;
		}
		ul {
			li {
				list-style-type: none;

				&:nth-child(2n) img {
					transform: rotate(200 + deg);
				}
				&:nth-child(3n) img {
					transform: rotate(260 + deg);
				}
				&:nth-child(5n) img {
					transform: rotate(300 + deg);
				}
				&:nth-child(7n) img {
					transform: rotate(30 + deg);
				}
			}
			img {
				margin-bottom: -5px;

				max-width: 20px;
				margin-right: 10px;
			}
		}
		span {
			margin-top: 20px;
		}
		a h3 {
			width: 100%;
		}
	}
	.title {
		text-align: right;
	}
	.formation-info {
		text-align: center;
		padding: 30px 20px 0;
	}
	.diplomes {
		width: 80%;
		max-width: 80%;
		margin-top: 20px;
		padding: 20px 20px 0;
		border-top: $border;
	}
	.overlay {
		width: 100%;
		text-align: left;
		list-style-type: none;
	}
	@media screen and (max-width: 700px) {
		.container {
			@include containerFlexWidthBorder(column);
			padding-bottom: 0;
		}
		.info-box {
			width: 100%;
			text-align: center;
			.title {
				text-align: center;
			}
		}
		.logo-box {
			padding: 0;
			margin: auto;
		}
		.overlay {
			text-align: center;
		}
	}
}
