@import '../../src/sass/variables';
@import '../../src/sass/transitions';

.loadingIcon {
	transition: all 2s linear;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 10% 0 0;
	height: 100%;
	width: 100%;
}
