$app-background: #041213;
$nav-bar: #ffb650;
$non-active-links: lighten(#3c4b4c, 10%);
$title-color: #60beab;
$app-normal-text-color: #71736c;
$link-color: #00d279;
$app-font-weights: (
	'normal': 16px,
	'small': 12px,
);
$border: 0.4em dashed #5083b619;
$browserBorder: 0.4em double #5083b619 !important;
$borderFilter: 5px dashed rgba(255, 166, 0, 0.164);
$browserBorderFilter: 0.4em double rgba(255, 166, 0, 0.164) !important;
