$app-background: #041213;
$nav-bar: #ffb751;
$non-active-links: lighten(#3c4b4c, 10%);
$title-color: #64c4b0;
$app-normal-text-color: #73756e;
$link-color: #02d67e;
$app-font-weights: (
	'normal': 16px,
	'small': 12px,
);
$border: 0.4em dashed #5083b619;
$browserBorder: 0.4em double #5083b619 !important;
$borderFilter: 5px dashed rgba(255, 166, 0, 0.164);
$browserBorderFilter: 0.4em double rgba(255, 166, 0, 0.164) !important;
$titleGradientColor: -webkit-linear-gradient(
	$nav-bar 25%,
	darken($nav-bar, 20%) 75%
);
