$app-background: #041213;
$nav-bar: #ffb650;
$non-active-links: #3c4b4c;
$title-color: #60beab;
$app-normal-text-color: #71736c;
$link-color: #00d279;
$app-font-weights: (
	'normal': 16px,
	'small': 12px,
);
$border: 5px dashed #5083b619;
